body{
    background: lightblue;
    color: blue;
    font-family: 'Grandstander', cursive;
    font-size: 15px;
    letter-spacing: 2px;
}

img{
    border-radius: 50%;
}

.profile{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: auto;
}

.profile-name {
    text-align: center;
    padding: 10px;
    color: white;


}

.links{
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid black;
    border-width: 2px;
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}

li{
    list-style-type:none;
}

a{
    text-decoration: none;
    color: white;
    transition: color 1s;
}

a:hover{
    color: black;
    background-color: lightblue;
}
