body{
    background: lightblue;
    color: blue;
    font-family: 'Grandstander', cursive;
    font-size: 15px;
    letter-spacing: 2px;
}

/*Navigation bar*/
ul {
  background-color: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 24px 26px;
  text-align: center;
}

li a:hover {
  background-color: lightblue;
}

li a:active {
  
  border:2px solid blue;
}

